{% extends 'components/base.html' %}
{% load staticfiles %}
{% block encabezado %}
	NOTICIAS
{% endblock encabezado%}
{% block contenido %}
  <ul class="collapsible popout" data-collapsible="accordion">
		{% if noticias %}
			{% for noticia in noticias %}
				<li>
					<div class="collapsible-header active">
						{% if forloop.first %}
							<i class="material-icons">new_releases</i>
                            <div class="chip light-blue darken-3 white-text">
								NUEVO
							</div>
						{% else %}
							<i class="material-icons">speaker_notes</i>
						{% endif %}	
							<b>{{ noticia.titulo }}</b> - {{ noticia.fecha_publicacion|date:"SHORT_DATE_FORMAT" }}

					</div>
					<div class="collapsible-body">
						<p>
							{{ noticia.texto }}
						</p>
					</div>
				</li>
			{% endfor %}
		{% else %}
			<div class="card-panel hoverable center yellow">
				<p class="flow-text">
					<b>No hay noticias que mostrar</b>
				</p>
			</div>
		{% endif %}
	</ul>
{% endblock contenido %}
