{% extends 'cuentas/base.html' %}
{% load staticfiles %}
{% block contenido %}
	<div class="background">
		<h4>This is just a place holder, so you can see what the site would look like.</h4>
		<p>
			This website template has been designed by <a href="http://www.freewebsitetemplates.com/">Free Website Templates</a> for you, for free. You can replace all this text with your own text. You can remove any link to our website from this website template, you're free to use this website template without linking back to us. If you're having problems editing this website template, then don't hesitate to ask for help on the <a href="http://www.freewebsitetemplates.com/forums/">Forum</a>.
		</p>
		<ul id="contacts">
			<li>
				<p>
					<em>AMERICA</em> 1234 This is just a place holder, so you can see what the site would look like<br> Tel: + 457-380-1654 000<br> Toll Free: + 257-301-9417 000<br> Email: emailus@companyemail.com
				</p>
			</li>
			<li>
				<p>
					<em>EUROPE</em> 1234 This is just a place holder, so you can see what the site would look like<br> Tel: + 457-380-1654 000<br> Toll Free: + 257-301-9417 000<br> Email: emailus@companyemail.com
				</p>
			</li>
			<li>
				<p>
					<em>ASIA</em> 1234 This is just a place holder, so you can see what the site would look like<br> Tel: + 457-380-1654 000<br> Toll Free: + 257-301-9417 000<br> Email: emailus@companyemail.com<br>
				</p>
			</li>
		</ul>
	</div>
	</div>
{% endblock contenido %}
