{% extends 'cuentas/base.html' %}
{% load staticfiles %}
{% block adbox %}
		<img src="{% static 'images/discussing.jpg' %}" alt="Img" height="496" width="958">
		<div class="details">
			<h1>This is just a place holder</h1>
			<p>So you can see what the site would look like.</p>
		</div>
{% endblock adbox %}
{% block contenido %}
			<div>
				<div id="headline">
					<div class="body">
						<h2>About</h2>
						<p>
							This website template has been designed by <a href="http://www.freewebsitetemplates.com/">Free Website Templates</a> for you, for free. You can replace all this text with your own text. <a href="#" class="more">more</a>
						</p>
					</div>
				</div>
				<div id="main">
					<h2>A step by step process</h2>
					<p>
						This website template has been designed by <a href="http://www.freewebsitetemplates.com/">Free Website Templates</a> for you, for free. You can replace all this text with your own text. You can remove any link to our website from this website template, you're free to use this website template without linking back to us. If you're having problems editing this website template, then don't hesitate to ask for help on the <a href="http://www.freewebsitetemplates.com/forums/">Forum</a>.
					</p>
					<ul>
						<li><a href="#">1. This is just a place holder</a></li>
						<li><a href="#">2. This is just a place holder</a></li>
						<li><a href="#">3. This is just a place holder</a></li>
					</ul>
				</div>
			</div>
{% endblock contenido %}
