{% extends 'cuentas/base.html' %}
{% load staticfiles %}
{% block encabezado %}
	INICIAR SESION
{% endblock encabezado%}
{% block contenido %}
{% if error %}
	<div class="card-panel yellow lighten-1"><i class="material-icons left">error</i><b>Alerta!! Contraseña incorrecta.</b></div>
{% endif %}
<form method="POST" class="form-horizontal" enctype="multipart/form-data" role="form" data-toggle="validator">
  <fieldset>
	  {% csrf_token %}
	  {{ form.non_field_errors }}
		{% for elemento in form %}
	  	{{ elemento.errors }}
	  		<div class="row">
	      	<div class="input-field col s12">
	          	{{ elemento }}
	          	<!--<label for="{{ elemento.label }}" data-error="Incorrecto" data-success="Correcto!">{{ elemento.label }}</label>-->
	      	</div>
	    	</div>
	  {% endfor %}
	  <div class="form-group">
	    <div class="col-md-8 col-md-offset-4">
	        <button name="bRegistrar" class="btn btn-default">Iniciar sesion</button>
	    </div>
	  </div
  </fieldset>
</form>
{% endblock contenido %}
