{% extends 'cuentas/base.html' %}
{% load staticfiles %}
{% block contenido %}
	<div class="background">
		<form method="POST" class="form-horizontal" enctype="multipart/form-data" role="form" data-toggle="validator">
		  <fieldset>
		    <legend id="etiquetas">Iniciar sesión</legend>
		    {% if error %}
		      <div class="alert alert-warning" role="alert">
		        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
		        <strong>Alerta!!</strong> Usuario y/o contraseña incorrecto.</div>
		    {% endif %}

		  {% csrf_token %}
		  {{ form.non_field_errors }}
		  {% for elemento in form %}
		    <div class="form-group">
		      {{ elemento.errors }}
		        <label id="etiquetas" for="{{ elemento.label }}"  class="col-md-4 control-label">{{ elemento.label }}</label> <!-- DARLE css al id etiquetas-->
		        <div class="col-md-5">
		          {{ elemento }}
		          <div class="help-block with-errors">{{ elemento.help_text }}</div>
		        </div>
		    </div>
		  {% endfor %}
		    <div class="form-group">
		      <div class="col-md-8 col-md-offset-4">
		          <button name="bRegistrar" class="btn btn-default">Iniciar sesión</button>
		      </div>
		    </div
		  </fieldset>
		</form>
	</div>
{% endblock contenido %}
