{% extends 'cuentas/base.html' %}
{% load staticfiles %}
{% block contenido %}
	<div class="background">
		<div id="news">
			{% for noticia in noticias %}
				<h2>{{ noticia.titulo }}</h2><h4>Fecha publicación: {{ noticia.fecha_publicacion }}</h4>
				{{ noticia.texto|linebreaks}}
				<hr>
			{% endfor %}
			<!--<ul>
				<li>
					<img src="{% static 'images/professionals.jpg' %}" alt="Img" height="223" width="400">
					<p>
						<em>This is just a place holder</em> You can replace all this text with your own text. You can remove any link to our website from this website template, you're free to use this website template without linking back to us. You can replace all this text with your own text. You can remove any link to our website from this website template, you're free to use this website template without linking back to us. This is just a place holder, so you can see what the site would look like.
					</p>
				</li>
				<li>
					<img src="{% static 'images/flags.jpg' %}" alt="Img">
					<p>
						<em>This is just a place holder, so you can see what the site would look like.</em> This website template has been designed by <a href="http://www.freewebsitetemplates.com/">Free Website Templates</a> for you, for free. You can replace all this text with your own text. You can remove any link to our website from this website template, you're free to use this website template without linking back to us. If you're having problems editing this website template, then don't hesitate to ask for help on the <a href="http://www.freewebsitetemplates.com/forums/">Forum</a>.
					</p>
				</li>
				<li>
					<img src="{% static 'images/professionals.jpg' %}" alt="Img" height="223" width="400">
					<p>
						<em>This is just a place holder</em> You can replace all this text with your own text. You can remove any link to our website from this website template, you're free to use this website template without linking back to us. You can replace all this text with your own text. You can remove any link to our website from this website template, you're free to use this website template without linking back to us. This is just a place holder, so you can see what the site would look like.
					</p>
				</li>
			</ul>-->
		</div>
	</div>
	</div>
{% endblock contenido %}
