{% extends 'cuentas/base.html' %}
{% load staticfiles %}
{% block contenido %}
	<div class="background">
		<div class="col-md-6 col-md-offset-3">
			{% if error %}
				<div class="alert alert-warning" role="alert">
					<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
					<strong>Alerta!!</strong>{{ mensaje }}</div>
			{% else %}
			<div class="alert alert-success" role="success">
				<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
				<strong>Hecho!!</strong>{{ mensaje }}</div>
			{% endif %}
		</div>
		<div class="col-md-8 col-md-offset-5">
			<a href="{% url 'registro' %}" class="btn btn-success" role="button">Regresar</button>
		</div>
	</div
	</div>
{% endblock contenido %}
