{% extends 'components/base.html' %}
{% load staticfiles %}
{% block encabezado %}
	INFORMACION
{% endblock encabezado%}
{% block contenido %}
	<p class="flow-text">
		Este sistema se encarga de gestionar a los alumnos para posiblemente ser usado por el Comité Estudiantil de Sociedad
		de Alumnos (CESA), primero que nada debes <b>registrarte</b> para poder ver la lista de los alumnos registrados y además
		enterarte de las noticias más relevantes del comité. Así como para poder ver tu perfil.

		Aún no está terminado, pero ¿No hay ya un gran avance?.
		<b>Prueba este sitio web en una computadora y en un dispositivo móvil!</b>
	</p>
	<div class="divider">
	</div>
	<h2>¿Dudas, quejas, sugerencias?</h2>
	<p class="flow-text">
		Puedes escribir un comentario en la
		<a href="https://www.facebook.com/groups/1419401154989106/permalink/1643594949236391/">publicación hecha en facebook!</a>
	</p>
{% endblock contenido %}
