{% extends 'components/base.html' %}
{% load staticfiles %}
{% block encabezado %}
	¡Bienvenido!
{% endblock encabezado%}
{% block contenido %}

	<div class="row">
				<div class="col s12 m4">
					<div class="center">
						<i class="large material-icons">person_pin</i><br>
						<h4>1. Registrate</h4>
                        <ul>
                            <li>Rellena los datos del formulario de registro</li>
                        </ul>
					</div>
				</div>
				<div class="col s12 m4">
					<div class="center">
						<i class="large material-icons">present_to_all</i><br>
						<h4>2. Sube tus documentos</h4>
                        <ul>
                            <li>Sube los documentos solicitados</li>
                        </ul>
					</div>
				</div>
				<div class="col s12 m4">
					<div class="center">
						<i class="large material-icons">description</i><br>
						<h4>3. Solicita la beca</h4>
                        <ul>
                            <li>Solicita la beca y espera los resultados</li>
                            <li>Observa el estado de tu solicitud en tu <b>perfil</b></li>
                        </ul>
					</div>
				</div>
	</div>
{% endblock contenido %}
