{% extends 'components/base.html' %}
{% load staticfiles %}
{% block encabezado %}
	LISTA
{% endblock encabezado%}
{% block contenido %}
	<div class="card-panel yellow lighten-1">
		<h4 class="flow-text center-align">
			 {% if total_alumnos > 1%}
				 <b>{{ total_alumnos }} Alumnos registrados</b>
			 {% else %}
				 <b>{{ total_alumnos }} Alumno registrado</b>
			 {% endif %}
			 <i class="material-icons">mode_edit</i>
		</h4>
	</div>
	<table class="highlight centered responsive-table">
				 <thead>
					 <th>No. Control</th>
					 <th>Nombre</th>
					 <th>Apellido</th>
					 <th>Edad</th>
					 <th>Carrera</th>
					 <th>Semestre</th>
					 <th>Promedio</th>
				 </thead>
				 <tbody>
					 {% for alumno in alumnos %}
					 <tr>
						 <td>{{ alumno.no_control }}</td>
						 <td>{{ alumno.nombre|title }}</td>
						 <td>{{ alumno.apellido|title }}</td>
						 <td>{{ alumno.edad }}</td>
						 <td>{{ alumno.carrera }}</td>
						 <td>{{ alumno.semestre }}</td>
						 <td>{{ alumno.promedio }}</td>
						 </tr>
					 {% endfor %}
				 </tbody>
			 </table>
		 </div>
	 </div>
{% endblock contenido %}
