{% extends 'components/base.html' %}
{% load staticfiles %}
{% load mis_filtros %}
{% block encabezado %}
	LISTA
{% endblock encabezado%}
{% block contenido %}
	<div class="card-panel yellow lighten-1">
		<h4 class="flow-text center-align">
            <b>Alumnos registrados</b> {{ total_alumnos }} | <b>Alumnos en espera</b> {{ alumnos_en_espera }}
		</h4>
	</div>
	<table class="highlight centered responsive-table">
				 <thead>
					 <th>No. Control</th>
					 <th>Alumno</th>
                     <th>Carrera</th>
					 <th>Semestre</th>
					 <th>Promedio</th>
                     <th>Solicitud</th>
                     <th>Documentos</th>
                     <th>Accion</th>
				 </thead>
				 <tbody>
					 {% for alumno in alumnos %}
					    <tr>
                             <td>{{ alumno.no_control }}</td>
                             <td>{{ alumno.nombre|title }} {{ alumno.apellido_paterno|title }} {{ alumno.apellido_materno|title }}</td>
                             <td>{{ alumno.carrera }}</td>
                             <td>{{ alumno.semestre }}</td>
                             <td>{{ alumno.promedio }}</td>
                             {% if alumno.estado_solicitud_id == 2 %}
                                 <td>
                                     <b>
                                        {{ alumno.estado_solicitud }}
                                     </b>
                                 </td>
                                 <td>
                                    <a target="_blank" href="{{ MEDIA_URL }}{{ diccionario_documentos|get_comprobante_domicilio:alumno.no_control  }}">Comprobante Domicilio</a><br/>
                                    <a target="_blank" href="{{ MEDIA_URL }}{{ diccionario_documentos|get_credencial_estudiante:alumno.no_control  }}">Credencial Estudiante</a><br/>
                                    <a target="_blank" href="{{ MEDIA_URL }}{{ diccionario_documentos|get_kardex:alumno.no_control  }}">Kardex</a>
                                 </td>
                                 <td>
                                    <a href="#">APROBAR</a>
                                 </td>
                             {% else %}
                                 <td>
                                    {{ alumno.estado_solicitud }}
                                 </td>
                                 <td></td>
                             {% endif %}
						 </tr>
					 {% endfor %}
				 </tbody>
			 </table>
		 </div>
	 </div>
{% endblock contenido %}
