{% extends 'components/base.html' %}
{% load staticfiles %}
{% load mis_filtros %}
{% block encabezado %}
	LISTA
{% endblock encabezado%}
{% block contenido %}
    <ul class="collection with-header">
      <li class="collection-header"><h4>Resumen</h4></li>
      <li class="collection-item"><b>Alumnos registrados:  </b> {{ total_alumnos }} </li>
      <li class="collection-item"><b>Alumnos en espera:    </b> {{ alumnos_en_espera }}</li>
      <li class="collection-item"><b>Alumnos aprobados:    </b> {{ alumnos_aprobados }}</li>
      <li class="collection-item"><b>Alumnos no aprobados: </b> {{ alumnos_no_aprobados }}</li>
    </ul>
	<table class="highlight centered responsive-table">
				 <thead>
					 <th>No. Control</th>
					 <th>Alumno</th>
                     <th>Carrera</th>
					 <th>Semestre</th>
					 <th>Promedio</th>
                     <th>Solicitud</th>
                     <th>Documentos</th>
                     <th colspan="2">Accion</th>
				 </thead>
				 <tbody>
					 {% for alumno in alumnos %}
					    <tr>
                             <td>{{ alumno.no_control }}</td>
                             <td>{{ alumno.nombre|title }} {{ alumno.apellido_paterno|title }} {{ alumno.apellido_materno|title }}</td>
                             <td>{{ alumno.carrera }}</td>
                             <td>{{ alumno.semestre }}</td>
                             <td>{{ alumno.promedio }}</td>
                             {% if alumno.estado_solicitud_id == 2 %}
                                 <td>
                                     <b>
                                        {{ alumno.estado_solicitud }}
                                     </b>
                                 </td>
                                 <td>
                                     <!-- Dropdown Trigger -->
                                      <a class='dropdown-button btn blue' href='#' data-activates='dropdown{{ forloop.counter }}'>Documentos</a>
                                      <!-- Dropdown Structure -->
                                      <ul id='dropdown{{ forloop.counter }}' class='dropdown-content'>
                                        <li>
                                            <a target="_blank" href="/media/{{ diccionario_documentos|get_comprobante_domicilio:alumno.no_control }}">
                                                Comprobante de domicilio
                                            </a>
                                        </li>
                                        <li class="divider"></li>
                                        <li>
                                            <a target="_blank" href="/media/{{ diccionario_documentos|get_credencial_estudiante:alumno.no_control }}">
                                                Credencial de estudiante
                                            </a>
                                        </li>
                                        <li class="divider"></li>
                                        <li>
                                            <a target="_blank" href="/media/{{ diccionario_documentos|get_kardex:alumno.no_control }}">
                                                Kardex
                                            </a></li>
                                        <li class="divider">
                                        </li>
                                        <li><a>Salir</a></li>
                                      </ul>
                                 </td>
                                 <td><!-- Boton aprobar alumno -->
                                   <a href="{% url 'aprobar_alumno' matricula=alumno.no_control %}" class="btn-floating  green accent-4"><i class="material-icons">thumb_up</i></a>
                                 </td>
                                 <td><!-- Boton no aprobar alumno -->
                                   <a href="{% url 'no_aprobar_alumno' matricula=alumno.no_control %}" class="btn-floating red accent-4"><i class="material-icons">thumb_down</i></a>
                                 </td>
                             {% elif alumno.estado_solicitud_id == 3 %}<!-- Alumno aprobado -->
                                 <td>
                                    <b class='green-text text-accent-4'>{{ alumno.estado_solicitud }}</b>
                                 </td>
                                 <td></td>
                                 <td></td>
                             {% elif alumno.estado_solicitud_id == 4 %}<!-- Alumno no aprobado -->
                                 <td>
                                    <b class='red-text text-accent-4'>{{ alumno.estado_solicitud }}</b>
                                 </td>
                                 <td></td>
                                 <td></td>
                             {% else %}
                                 <td>
                                    {{ alumno.estado_solicitud }}
                                 </td>
                                 <td></td>
                                 <td></td>
                             {% endif %}
						 </tr>
					 {% endfor %}
				 </tbody>
			 </table>
		 </div>
	 </div>
{% endblock contenido %}
