{% extends 'components/base.html' %}
{% load staticfiles %}
{% block encabezado %}
	PERFIL
{% endblock encabezado%}
{% block contenido %}
    {% if clave_cambiada %}
        <div class="card-panel green lighten-1"><i class="material-icons left">done_all</i><b>Su contraseña ha sido modificada con éxito!</b></div>
    {% endif %}
    {% if documento_subido %}
        <div class="card-panel green lighten-1"><i class="material-icons left">done_all</i><b>El archivo se ha subido correctamente!</b></div>
    {% endif %}
    {% if falta_documento %}
        <div class="card-panel amber darken-1"><i class="material-icons left">not_interested</i><b>Debe subir todos los documentos antes de solicitar beca!</b></div>
    {% endif %}
    {% if promedio_menor_a_85 %}
        <div class="card-panel amber darken-1"><i class="material-icons left">not_interested</i><b>El promedio mímino requerido para solicitar la beca es 85</b></div>
    {% endif %}
	{% if user.is_superuser %}
		<div class="card-panel hoverable center yellow">
			<p class="flow-text">
				Esta cuenta no posee alumno registrado debido a que es <b>Administrador</b>
			</p>
		</div>
		{% else %}
            <ul class="collection with-header">
		        <li class="collection-header"><h4>Estado de solicitud: <b>{{ alumno.estado_solicitud }}</b></h4></li>
		    </ul>
			<ul class="collection with-header">
		        <li class="collection-header"><h4>Nombre de usuario: {{user.username}}</h4></li>
		        <li class="collection-item">
		        	<b>No. Control:</b> {{ alumno.no_control }}
		        </li>
		        <li class="collection-item">
		        	<b>Nombre(s):</b> {{ alumno.nombre }}
		        </li>
		        <li class="collection-item">
		        	<b>Apellidos:</b> {{ alumno.apellido_paterno }} {{ alumno.apellido_materno }}
		        </li>
		        <li class="collection-item">
		        	<b>Edad:</b> {{ edad }} años
		        </li>
		        <li class="collection-item">
		        	<b>Carrera:</b> {{ alumno.carrera }}
		        </li>
		        <li class="collection-item">
		        	<b>Semestre:</b> {{ alumno.semestre }}
		        </li>
		        <li class="collection-item">
		        	<b>Promedio:</b> {{ alumno.promedio }}
		        </li>
		    </ul>
            {# El primer campo de la tabla "Estado_Solicitud" debe ser "en proceso" con id "1"#}
            {% if alumno.estado_solicitud.id  == 1 %}
                <ul class="collection with-header">
                    <li class="collection-header"><h4>Documentos</h4></li>
                    <li class="collection-item">
                        <b>Comprobante de domicilio</b>
                        {% if comprobante_de_domicilio %}
                            <a class="waves-effect waves-light btn" href="/media/{{ comprobante_de_domicilio.url_documento }}"
                               target="_blank">
                                <i class="material-icons left">visibility</i>
                                VER
                            </a>
                            <a class="waves-effect waves-light btn" href="{% url 'comprobante_domicilio' %}">
                                <i class="material-icons left">settings_backup_restore</i>
                                SUBIR OTRO
                            </a>
                        {% else %}
                             <a class="waves-effect waves-light btn" href="{% url 'comprobante_domicilio' %}">
                                <i class="material-icons left">navigation</i>
                                SUBIR
                            </a>
                        {% endif %}
                    </li>
                    <li class="collection-item">
                        <b>Credencial de estudiante</b>
                        {% if credencial_de_estudiante %}
                            <a class="waves-effect waves-light btn" href="/media/{{ credencial_de_estudiante.url_documento }}"
                               target="_blank">
                                <i class="material-icons left">visibility</i>
                                VER
                            </a>
                            <a class="waves-effect waves-light btn" href="{% url 'credencial_estudiante' %}">
                                <i class="material-icons left">settings_backup_restore</i>
                                SUBIR OTRO
                            </a>
                        {% else %}
                           <a class="waves-effect waves-light btn" href="{% url 'credencial_estudiante' %}">
                                <i class="material-icons left">navigation</i>
                                SUBIR
                            </a>
                        {% endif %}
                    </li>
                    <li class="collection-item">
                        <b>Kardex</b>
                        {% if kardex %}
                            <a class="waves-effect waves-light btn" href="/media/{{ kardex.url_documento }}"
                               target="_blank">
                                <i class="material-icons left">visibility</i>
                                VER
                            </a>
                            <a class="waves-effect waves-light btn" href="{% url 'kardex' %}">
                                <i class="material-icons left">settings_backup_restore</i>
                                SUBIR OTRO
                            </a>
                        {% else %}
                           <a class="waves-effect waves-light btn" href="{% url 'kardex' %}">
                                <i class="material-icons left">navigation</i>
                                SUBIR
                            </a>
                        {% endif %}
                    </li>
                </ul>
                <div class="row">
                    <div class="col s12 center-align">
                       <a class="waves-effect waves-light btn-large" href="{% url 'editar_perfil_alumno' %}">
                            <i class="material-icons left">perm_contact_calendar</i>
      					    Editar datos
      				    </a>
                    </div>
                </div>
                 <div class="row">
                    <div class="col s12 center-align">
                        <button data-target="modal_beca" class="btn-large modal-trigger">
                            <i class="material-icons left">present_to_all</i>
                            Solicitar beca
                        </button>
                    </div>
                </div>
            {% endif %}
            <div class="row">
                <div class="col s12 center-align">
      				<a class="waves-effect waves-light btn-large" href="{% url 'cambiar_pass' %}">
                        <i class="material-icons left">mode_edit</i>
      					Cambiar contraseña
      				</a>
      			</div>
            </div>
	{% endif %}

    <!-- Modal Structure -->
  <div id="modal_beca" class="modal">
    <div class="modal-content">
      <h4>IMPORTANTE</h4>
        <p>Una vez que solicite la beca <b>no podrá subir y/o modificar los documentos</b>.</p>
        <p><b>No podrá editar los datos de su perfil</b>, solo la contraseña.</p>
        <h5><b>¿DESEA SOLICTAR LA BECA?</b></h5>
    </div>
    <div class="modal-footer">
        <a class="modal-action modal-close waves-effect waves-green btn-flat">CANCELAR</a>
        <a href="{% url 'solicitar_beca' %}" class="modal-action modal-close waves-effect waves-green btn-flat">Si, solicitar beca</a>
    </div>
  </div>

{% endblock contenido %}
{% block scripts %}
    <script type="text/javascript">
        $(document).ready(function(){
        // the "href" attribute of .modal-trigger must specify the modal ID that wants to be triggered
           $('.modal-trigger').leanModal();
        });
    </script>
{% endblock scripts %}
