{% extends 'components/base.html' %}
{% load staticfiles %}
{% block encabezado %}
	PERFIL
{% endblock encabezado%}
{% block contenido %}
    {% if clave_cambiada %}
        <div class="card-panel green lighten-1"><i class="material-icons left">done_all</i><b>Su contraseña ha sido modificada con éxito!</b></div>
    {% endif %}
	{% if user.is_superuser %}
		<div class="card-panel hoverable center yellow">
			<p class="flow-text">
				Esta cuenta no posee alumno registrado debido a que es <b>Administrador</b>
			</p>
		</div>
		{% else %}
			<ul class="collection with-header">
		        <li class="collection-header"><h4>Nombre de usuario: {{user.username}}</h4></li>
		        <li class="collection-item">
		        	<b>No. Control:</b> {{ alumno.no_control }}
		        </li>
		        <li class="collection-item">
		        	<b>Nombre(s):</b> {{ alumno.nombre }}
		        </li>
		        <li class="collection-item">
		        	<b>Apellidos:</b> {{ alumno.apellido }}
		        </li>
		        <li class="collection-item">
		        	<b>Edad:</b> {{ edad }} años
		        </li>
		        <li class="collection-item">
		        	<b>Carrera:</b> {{ alumno.carrera }}
		        </li>
		        <li class="collection-item">
		        	<b>Semestre:</b> {{ alumno.semestre }}
		        </li>
		        <li class="collection-item">
		        	<b>Promedio:</b> {{ alumno.promedio }}
		        </li>
		    </ul>
		    <div class="row">
      			<div class="col s6 center-align">
      				<a class="waves-effect waves-light btn-large" href="{% url 'editar_perfil_alumno' %}">
      					<i class="material-icons left">mode_edit</i>
      					Editar datos
      				</a>
      			</div>
                <div class="col s6 center-align">
      				<a class="waves-effect waves-light btn-large" href="{% url 'cambiar_pass' %}">
      					<i class="material-icons left">mode_edit</i>
      					Cambiar contraseña
      				</a>
      			</div>
    		</div>
	{% endif %}
{% endblock contenido %}
