{% extends 'components/base.html' %}
{% load staticfiles %}
{% block encabezado %}
	REPORTE POR CARRERA
{% endblock encabezado%}
{% block contenido %}
    {% include 'cuentas/reportes/menu_filtro.html'%}
    <ul class="collection with-header">
        {% for carrera in lista_carreras %}
            {% for llave, valor in carrera.items %}
                <li class="collection-header"><h4>{{ llave }}</h4></li>
                {% for indice in valor %}
                    <li class="collection-item">{{ indice }}</li>
                {% endfor %}
            {% endfor %}
        {% endfor %}
    </ul>
{% endblock contenido %}
