{% extends 'components/base.html' %}
{% load staticfiles %}
{% block encabezado %}
	REPORTE POR ESTADO DE SOLICITUD
{% endblock encabezado%}
{% block contenido %}
    {% include 'cuentas/reportes/menu_filtro.html'%}
    <table class="highlight centered responsive-table">
				 <thead>
					 <th>Carrera</th>
					 <th>Solicitudes en proceso</th>
                     <th>Solicitudes en evaluación</th>
					 <th>Solicitudes aprobadas</th>
					 <th>Solicitudes no aprobadas</th>
				 </thead>
				 <tbody>
                 {% for carrera in lista_carreras %}
                    {% for llave, valor in carrera.items %}
                        <tr>
                            <td><b>{{ llave }}</b></td>
                            {% for indice in valor %}
                                <td>{{ indice }}</td>
                            {% endfor %}
                        </tr>
                    {% endfor %}
                 {% endfor %}
				 </tbody>
			 </table>
{% endblock contenido %}
