/* Website template by freewebsitetemplates.com */
/*------------------------------ HEADER ------------------------------*/
#navigation li a {
	font-weight: bold;
	width: 120px;
	padding: 0;
}
#navigation li.last-child a {
	width: 150px;
	padding-right: 21px;
}
