<div class="navbar-fixed">
  <!-- Dropdown Structure -->
  <ul id="dropdown" class="dropdown-content">
    <li><a href="{% url 'perfil_alumno' %}">Ver perfil</a></li>
    <li class="divider"></li>
    <li><a href="{% url 'logout_alumno' %}">Salir</a></li>
  </ul>
  <ul id="dropdown-mobile" class="dropdown-content light-blue darken-3">
    <li><a href="{% url 'perfil_alumno' %}">Ver perfil</a></li>
    <li class="divider"></li>
    <li><a href="{% url 'logout_alumno' %}">Salir</a></li>
  </ul>
  <nav class="light-blue darken-3">
      <div class="nav-wrapper">
        <a href="{% url 'inicio' %}" class="brand-logo">Sistema REAL</a>
        <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
        <ul class="right hide-on-med-and-down">
          <li>
            <a href="{% url 'inicio' %}">
              <i class="material-icons right">turned_in_not</i>
              Inicio
            </a>
          </li>
          <li>
            <a href="{% url 'informacion' %}">
              <i class="material-icons right">web</i>
              Informacion
            </a>
          </li>
          <li>
            <a href="{% url 'contacto' %}">
              <i class="material-icons right">supervisor_account</i>
              Contacto
            </a>
          </li>
          {% if user.is_authenticated %} <!--Usuario logeado -->
            <li>
            <a href="{% url 'noticias' %}">
                <i class="material-icons right">announcement</i>
                Noticias
              </a>
            </li>
            {% if user.is_superuser %}
                <li>
                    <a href="{% url 'lista_alumnos' %}">
                        <i class="material-icons right">view_list</i>
                        Lista
                     </a>
                </li>
                 <li>
                    <a href="/admin">
                        <i class="material-icons right">settings</i>
                        Administrar
                     </a>
                </li>
                <li>
                    <a href="{% url 'reporte_estado_solicitud' %}">
                        <i class="material-icons right">dashboard</i>
                        Reporte
                     </a>
                </li>
                <li>
                    <a href="{% url 'logout_alumno' %}">
                        <i class="material-icons right">power_settings_new</i>
                        Salir
                    </a>
                </li>
            {% else %}
                <li>
                    <a class="dropdown-button" data-activates="dropdown">
                        Perfil
                        <i class="material-icons right">arrow_drop_down</i>
                    </a>
                </li> <!--Usuario logeado -->
            {% endif %}
          {% else %} <!--Usuario no logueado -->
            <li>
              <a href="{% url 'registro' %}">
                <i class="material-icons right">assignment_ind</i>
                Registro
              </a>
            </li>
            <li>
              <a href="{% url 'login_alumno' %}">
                <i class="material-icons right">input</i>
                Iniciar Sesion
              </a>
            </li>
          {% endif %}  <!--Usuario no logueado -->
        </ul>
        <ul class="side-nav light-blue darken-3" id="mobile-demo"> <!-- Navbar para dispositivos moviles -->
          <li>
            <a href="{% url 'inicio' %}">
              <i class="material-icons right">turned_in_not</i>
              Inicio
            </a>
          </li>
          <li>
            <a href="{% url 'informacion' %}">
              <i class="material-icons right">web</i>
              Informacion
            </a>
          </li>
          <li>
            <a href="{% url 'contacto' %}">
              <i class="material-icons right">supervisor_account</i>
              Contacto
            </a>
          </li>
          {% if user.is_authenticated %} <!--Usuario logeado -->
            <li>
            <a href="{% url 'noticias' %}">
                <i class="material-icons right">announcement</i>
                Noticias
              </a>
            </li>
            {% if user.is_superuser %}
                <li>
                    <a href="{% url 'lista_alumnos' %}">
                        <i class="material-icons right">view_list</i>
                        Lista
                     </a>
                </li>
                <li>
                    <a href="/admin">
                        <i class="material-icons right">settings</i>
                        Administrar
                     </a>
                </li>
                <li>
                    <a href="{% url 'reporte_estado_solicitud' %}">
                        <i class="material-icons right">dashboard</i>
                        Reporte
                     </a>
                </li>
                <li>
                    <a href="{% url 'logout_alumno' %}">
                        <i class="material-icons right">power_settings_new</i>
                        Salir
                    </a>
                </li>
            {% else %}
                <li>
                    <a class="dropdown-button" data-activates="dropdown-mobile">
                        Perfil
                        <i class="material-icons right">arrow_drop_down</i>
                    </a>
                </li> <!--Usuario logeado -->
            {% endif %}
          {% else %} <!--Usuario no logueado -->
            <li>
              <a href="{% url 'registro' %}">
                <i class="material-icons right">assignment_ind</i>
                Registro
              </a>
            </li>
            <li>
              <a href="{% url 'login_alumno' %}">
                <i class="material-icons right">input</i>
                Iniciar Sesion
              </a>
            </li>
          {% endif %}  <!--Usuario no logueado -->
        </ul>
      </div>
    </nav>
</div>
